*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Lexend, Roboto, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --green: #4aa59c;
  --deep-green: #387974;
  --light-green: #a9e0d9;
  --text-main: #333333;
}

html {
  font-size: 12px;
}

.app {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: var(--light-green);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
}

.title {
  margin-bottom: 12px;
}

/* @media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
} */
